.main-info{
  max-width: 300px;
  margin: 15px;
}
.main-info h1 {
  width: 100%;
  font-size: 16px;
  padding-bottom: 10px;
  font-weight: bold;
}
.main-info div {
  min-width: 100px;
  max-width: 100px!important;
  overflow-x: hidden;
  border-bottom: solid 1px rgba(0, 0, 255, 0.2);
}
.main-info h4 {
  margin: 5px 0;
  font-size: 8px;
  color: #aaa;
}
.main-info span {
  min-height: 15px;
  font-size: 10px;
  color: #222;
}
.exp-info{
  max-width: 300px;
  margin: 15px;
}
.exp-info h1 {
  width: 100%;
  font-size: 16px;
  padding-bottom: 10px;
  font-weight: bold;
}
.exp-info h4 {
  margin: 5px 0;
  font-size: 10px;
  color: #888;
}
.exp-info h3 {
  margin: 5px 0;
  font-size: 10px;
  color: #666;
}
.exp-info span {
  min-height: 15px;
  font-size: 8px;
  color: #aaa;
}
.knowledge-info{
  max-width: 300px;
  margin: 15px;
}
.lan-head{
  border-bottom:solid 1px rgba(0, 0, 255, 0.2);
}
.knowledge-info h1 {
  width: 100%;
  font-size: 16px;
  padding-bottom: 10px;
  font-weight: bold;
}
.knowledge-info h4 {
  margin: 5px 0;
  font-size: 10px;
  color: #888;
}
.knowledge-info h3 {
  margin: 5px 0;
  font-size: 10px;
  color: #666;
}
.knowledge-info span {
  min-height: 15px;
  font-size: 8px;
  color: #aaa;
}
.legend-container{
  margin-top: 15px;
  width: 100%;
}
.legend{
  font-size: 6px!important;
  min-height: 5px!important;
}
.Bajo{
  font-size: 10px;
  margin: 5px;
  background-color: #777!important;
}
.Medio{
  margin: 5px;
  font-size: 10px;
  background-color: #77b!important;
}
.Alto{
  margin: 5px;
  font-size: 10px;
  background-color: #7b7!important;
}
