<div ngClass="section-container">
  <div ngClass="offer-card" class="example-ripple-container mat-elevation-z4" matRipple
     fxLayout="column" fxLayout.gt-xs="row wrap" fxLayoutAlign="space-between stretch">
    <div fxLayout="column" fxLayoutAlign="center stretch" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="start stretch" fxLayoutGap="5px">
      <div ngClass="match-container" fxLayout="column" fxLayoutAlign="center center">
        <span ngClass="match-num">100%</span>
      </div>
      <div fxLayout="column" fxLayoutAlign="center center">
        <span>The job of your dreams</span>
        <div fxLayout="row" fxLayoutAlign="center center">
          <span ngClass="offer-info-txt">Barcelona</span>
          <div ngClass="vertical-separator"></div>
          <span ngClass="offer-info-txt">99 interesados</span>
        </div>
      </div>
    </div>
    <div ngClass="chips-container" fxLayout="row wrap" fxLayoutAlign="center center">
      <mat-chip-list>
        <mat-chip color="accent" selected>Jornada Completa</mat-chip>
      </mat-chip-list>
      <mat-chip-list>
        <mat-chip color="accent" selected>Jornada Completa</mat-chip>
      </mat-chip-list>
      <mat-chip-list>
        <mat-chip color="accent" selected>Jornada Completa</mat-chip>
      </mat-chip-list>

    </div>
  </div>
</div>
<a href="/auth/infojobs">INFOJOBS</a>
