.show-apply-action{
  font-size: 12px;
  color: #555;
  font-weight: bold;
}
.offers-list-container{
  min-height: 100vh;
}
.offer-card{
  margin: 0 10px 5px 10px;
  background-color: #eee;
  cursor: pointer;
  min-height: 50px;
  width: 100%;
  max-width: 700px;
}
.offer-card-res{
  margin-bottom: 10px;
  background-color: #eee;
  cursor: pointer;
  min-height: 50px;
  width: 100%;
  max-width: 700px;
}
.match-container{
  background-color: #29a53d;
  border-radius: 2px;
  color: #eee;
  padding: 1px 5px;
  margin: 10px;
  width: 40px;
  height: 40px;
}
.bad-rating{background-color: #ff4545; color:#fff;}
.low-rating{background-color: #ffa534; color: #2d3133;}
.medium-rating{background-color: #ffe234;color: #2d3133;}
.good-rating{background-color: #b7dd29;color: #2d3133; }
.awesome-rating{background-color: #29a53d; color:#fff;}
.offer-title{
}
.offer-title-txt{
  font-weight: bold;
  font-size: 14px;
}
.match-container .match-num{
  font-size: 10px;
  font-weight: bold;
}
.match-container .match-lbl{
  font-size: 8px;
}
.offer-info-txt{
  color: #444;
  font-size: 10px;
}
.vertical-separator{
  height: 15px;
  margin: 0 10px;
  min-width: 1px;
  background: #aaa;
}
/*chips */
.chips-container{
  padding: 6px 10px 0px 10px;
  max-width: 350px;
  opacity: 1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}
.mat-chip-list{
  margin: 0px 3px 6px 3px;
}
.mat-chip.mat-standard-chip{
  font-size: 9px;
  min-height: 0px;
  padding: 9px;
}
.offer-card:hover .chips-container{
  opacity: 0;
}
/* description */
.description-container{
  max-width: 100%;
  padding: 0 12px;
}
.description-container p {
  font-size: 10px;
  margin-top: 0px;
}
/*  actions container */
.actions-container{
  position: absolute;
  top: 0;
  right: -100%;
  margin: 10px;
  height: 40px;
  transition: right .5s ease-in-out;
  -moz-transition: right .5s ease-in-out;
  -webkit-transition: right .5s ease-in-out;
}
.offer-card:hover .actions-container{
  right: 0;
}
.drag-ic-container{
  margin: 10px 0;
  height: 40px;
}
/* no offers container  */
.no-offers-container{
 padding: 15px 10px;
}
.no-offers-container span {
  font-size: 12px;
  color: #2D3133;
}
/*  swipe container */
.swipe-container{
  width: 100%;
  padding-bottom: 15px;
}
.swipe-container mat-icon{
  font-size: 12px;
  height: 12px;
  width: 12px;
  color: #555;
}
.swiped-cards-container{
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}
.descarted-container{
  opacity: 0;
  z-index: -1;
  height: 100vh;
  width: 10vw;
}

.apply-container{
  opacity: 0;
  z-index: -1;
  height: 100vh;
  width: 10vw;
}
/*  snackBar */
::ng-deep .mat-snack-bar-container{
  min-width: 250px!important;
  font-size: 12px!important;
}
