<div ngClass="section-container" fxLayout="column" fxLayoutAlign="center center">

  <div fxShow fxHide.gt-xs ngClass="swipe-container" fxLayout="row" fxLayoutAlign="space-between center">
    <div fxFlex fxLayout="row" fxLayoutAlign="start center">
      <mat-icon>keyboard_arrow_left</mat-icon>
      <span ngClass="show-apply-action"> Descartar</span>
    </div>
    <div>
      <mat-icon style="font-size:20px">touch_app</mat-icon>
    </div>
    <div fxFlex fxLayout="row" fxLayoutAlign="end center">
      <span ngClass="show-apply-action">Aplicar </span>
      <mat-icon >keyboard_arrow_right</mat-icon>
    </div>
  </div>
  <div ngClass="no-offers-container" *ngIf="offers.length === 0" fxLayoutAlign="center center">
    <span>No han llegado más ofertas por ahora.</span>
  </div>
  <!-- WARNING: offer card -->
  <div ngClass="offers-list-container"
    cdkDropList
    #offers_list="cdkDropList"
    [cdkDropListData]="offers"
    [cdkDropListConnectedTo]="[descarted_list, apply_list]"
    (cdkDropListDropped)="drop($event)">

    <div *ngFor="let offer of offers; let i = index;" ngClass="offer-card-res example-ripple-container mat-elevation-z4" ngClass.gt-xs="offer-card example-ripple-container mat-elevation-z4" matRipple
       fxLayout="column" fxLayout.gt-xs="row wrap" fxLayoutAlign="space-between stretch" cdkDrag cdkDragLockAxis="x">
       <div fxLayout="row" fxLayoutAlign="space-between center">
         <div [ngClass]="{'match-container':true, 'bad-rating':offer.rating<=20,
                                                  'low-rating':20 < offer.rating && offer.rating <= 40,
                                                  'medium-rating':40 < offer.rating && offer.rating <= 60,
                                                  'good-rating':60 < offer.rating && offer.rating <= 80,
                                                  'awesome-rating':80 < offer.rating}" fxLayout="column" fxLayoutAlign="center center">
           <span ngClass="match-num">{{offer.rating}}%</span>
           <span ngClass="match-lbl">match!</span>
         </div>
        <div fxFlex ngClass="offer-title"  fxLayout="column" fxLayoutAlign="center start">
          <span ngClass="offer-title-txt">{{offer.title}}</span>
          <div fxLayout="row" fxLayoutAlign="center center">
            <span ngClass="offer-info-txt">{{offer.city}}</span>
            <div ngClass="vertical-separator"></div>
            <span ngClass="offer-info-txt">{{offer.author.name}}</span>
            <div ngClass="vertical-separator"></div>
            <span ngClass="offer-info-txt">{{offer.applications}} interesados</span>
          </div>
        </div>
        <div fxHide.gt-xs fxShow ngClass="drag-ic-container" fxLayout="row" fxLayoutAlign="start center">
          <button mat-icon-button matTooltipPosition="before">
            <mat-icon aria-label="Example icon-button with a heart icon">drag_indicator</mat-icon>
          </button>
        </div>
      </div>
      <div ngClass="chips-container" fxLayout="row wrap" fxLayoutAlign="center center">
        <mat-chip-list *ngFor="let keyword of offer.keywords">
          <mat-chip color="primary" selected>{{keyword}}</mat-chip>
        </mat-chip-list>
      </div>
      <div ngClass="description-container">
        <p>{{offer.study.value}} | {{offer.category.value}} | {{offer.subcategory.value}} | {{offer.urgent?'Urgente':'No Urgente'}} |
        {{offer.workday? 'Jornada'+offer.workday.value: "Jornada no especificada"}} | {{offer.experienceMin.value}}</p>
      </div>
      <div fxHide fxShow.gt-xs ngClass="actions-container" fxLayout="row" fxLayoutAlign="center center">
        <button mat-icon-button color="primary" matTooltip="Ver más" matTooltipPosition="before">
          <mat-icon aria-label="Example icon-button with a heart icon">share</mat-icon>
        </button>
        <button mat-icon-button color="primary" matTooltip="Ver más" matTooltipPosition="before">
          <mat-icon aria-label="Example icon-button with a heart icon">info</mat-icon>
        </button>
        <button mat-icon-button color="accent" matTooltip="Aplicar" matTooltipPosition="before" (click)="apiDrop(i)">
          <mat-icon aria-label="Example icon-button with a heart icon">assignment_turned_in</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Descartar" matTooltipPosition="before" (click)="apiDrop(i)">
          <mat-icon aria-label="Example icon-button with a heart icon">cancel</mat-icon>
        </button>
      </div>

    </div>
  </div>

  <div class="swiped-cards-container" fxLayout="row" fxLayoutAlign="space-between stretch">
    <div ngClass="descarted-container" id="descarted_list"
    cdkDropList
    #descarted_list="cdkDropList"
    [cdkDropListData]="descarted"
    [cdkDropListConnectedTo]="[offers_list]"
    (cdkDropListDropped)="drop($event)"></div>
    <div ngClass="apply-container" id="apply_list"
    cdkDropList
    #apply_list="cdkDropList"
    [cdkDropListData]="apply"
    [cdkDropListConnectedTo]="[offers_list]"
    (cdkDropListDropped)="drop($event)"></div>
  </div>

</div>
