<!--The content below is only a placeholder and can be replaced.-->
<div id="main-container">
  <div ngClass="toolbar-container" fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayout="row" fxLayoutAlign="start center">
      <span ngClass="infojobs-logo">InfoJobs</span>
      <span>Empleo</span>
      <span>Executive</span>
      <span>Formación</span>
      <span>Consejos</span>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center">
      <span *ngIf="username">{{username}}</span>
      <span *ngIf="!username">ACCEDE</span>
      <span *ngIf="username">Cerrar Sesión</span>
      <span *ngIf="!username">DATE DE ALTA</span>
    </div>
  </div>
  <div ngClass="subtoolbar-container" fxLayout="row" fxLayoutAlign="start center">
    <span>Mi InfoJobs</span>
    <span>Buscar ofertas</span>
    <span>Mis CVs</span>
    <span>Candidaturas</span>
    <span>Mensajes</span>
    <span>Quién me ve</span>
    <span>Ajustes</span>
    <span>Ayuda</span>
  </div>

  <router-outlet></router-outlet>

</div>
