<!--The content below is only a placeholder and can be replaced.-->
<div id="main-container">
  <div ngClass="toolbar-container" fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayout="row" fxLayoutAlign="center center">
      <img ngClass="ic-logo" src="../assets/images/ij-logo_claim_primary-white.svg" alt="">
      <span fxHide fxShow.gt-xs>Executive!</span>
      <span fxHide fxShow.gt-xs>Formación</span>
      <span fxHide fxShow.gt-xs>Consejos</span>
      <span fxHide fxShow.gt-xs>Zona Empresas</span>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
      <a href="/"><span ngClass="active-item">MATCHES!</span></a>
      <a href="/cv"><span>Mi CV</span></a>
    </div>
  </div>

  <router-outlet></router-outlet>

</div>
