a {
  text-decoration: none;
}
.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.example-radio-group {
  display: block;
  border: 1px solid #555;
  margin: 20px;
  padding: 10px;
}
#main-container{
  max-width: 1080px;
  margin: auto;
}
/* MAIN TOOLBAR */
.toolbar-container{
  background-color: #167DB7;
}
.toolbar-container  span{
  color: #FFFFFF;
  font-size: 12px;
  padding: 10px 15px;
}
.toolbar-container span:hover{
  color: #FFFFFF;
  font-weight: bold;
  cursor: pointer;
}
.infojobs-logo{
  color: #FFFFFF!important;
  font-size: 16px!important;
}
.ic-logo{
  height: 20px;
}
.active-item{
  font-weight: bold;
}
/* SUBTOOLBAR */
.subtoolbar-container{
  background-color: #e2e5e6;
}
.subtoolbar-container  span{
  color: #2d3133;
  font-size: 14px;
  padding: 10px 15px;
}
.subtoolbar-container span:hover{
  color: #167db7;
  cursor: pointer;
}
