<mat-horizontal-stepper linear #stepper>
  <mat-step [stepControl]="firstForm">
    <form [formGroup]="firstForm" fxLayout="column">
      <ng-template matStepLabel>Información personal</ng-template>
      <mat-form-field ngClass="form-control-container">
        <input matInput type="text" name="name" placeholder="Nombre" required formControlName="name">
        <mat-error *ngIf="firstForm.controls['name'].hasError('required')">- El nombre es un campo obligatorio. </mat-error>
      </mat-form-field>
      <mat-form-field ngClass="form-control-container">
        <input matInput type="text" name="surname" placeholder="Apellidos" formControlName="surname">
      </mat-form-field>
      <mat-form-field ngClass="form-control-container">
        <input matInput type="email" name="email" placeholder="Correo electrónico" required formControlName="email">
        <mat-error *ngIf="firstForm.controls['email'].hasError('required')">- El correo electrónico es un campo obligatorio. </mat-error>
        <mat-error *ngIf="firstForm.controls['email'].hasError('eail')">- Es necesario un correo electrónico válido. </mat-error>
      </mat-form-field>
      <mat-form-field ngClass="form-control-container">
        <input matInput type="date" name="birthday" placeholder="Fecha de nacimiento" required formControlName="birthday">
        <mat-error *ngIf="firstForm.controls['birthday'].hasError('required')">- La fecha de nacimiento es un campo obligatorio. </mat-error>
      </mat-form-field>
      <mat-radio-group formControlName="gender">
        <mat-radio-button value="male">Hombre</mat-radio-button>
        <mat-radio-button value="female" ngClass="female-radio-btn">Mujer</mat-radio-button>
      </mat-radio-group>
      <mat-form-field ngClass="form-control-container">
        <mat-select placeholder="Pais de residencia" formControlName="country" required>
          <mat-option *ngFor="let country of countries" [value]="country.name">
            {{country.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="firstForm.controls['country'].hasError('required')">- El pais de residencia es un campo obligatorio. </mat-error>
      </mat-form-field>
      <mat-form-field ngClass="form-control-container">
        <input matInput type="text" name="cp" placeholder="Código postal" required formControlName="cp">
        <mat-error *ngIf="firstForm.controls['cp'].hasError('required')">- El código postal es un campo obligatorio. </mat-error>
        <mat-error *ngIf="firstForm.controls['cp'].hasError('minLength') || firstForm.controls['cp'].hasError('maxLength')">- El código postal ha de ser de longitud 5. </mat-error>
      </mat-form-field>
      <mat-form-field ngClass="form-control-container">
        <input matInput type="text" name="place" placeholder="Población" required formControlName="place">
        <mat-error *ngIf="firstForm.controls['place'].hasError('required')">- La población es un campo obligatorio. </mat-error>
      </mat-form-field>
      <mat-form-field ngClass="form-control-container">
        <input matInput type="text" name="phone" placeholder="Teléfono" formControlName="phone">
        <mat-error *ngIf="firstForm.controls['phone'].hasError('minLength') || firstForm.controls['phone'].hasError('maxLength')">- El teléfono ha de ser de longitud 9. </mat-error>
      </mat-form-field>
      <mat-form-field ngClass="form-control-container">
        <input matInput type="text" name="github" placeholder="Github URL" formControlName="github">
      </mat-form-field>
      <mat-form-field ngClass="form-control-container">
        <input matInput type="text" name="bitbucket" placeholder="Bitbucket URL" formControlName="bitbucket">
      </mat-form-field>
      <mat-form-field ngClass="form-control-container">
        <input matInput type="text" name="url" placeholder="Tu página web" formControlName="url">
      </mat-form-field>
      <div fxLayout="row" fxLayoutAlign="space-around center">
        <button type="button" mat-flat-button color="primary" matStepperNext [disabled]="!firstForm.valid">Siguiente</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <form [formGroup]="secondForm" #formDirective1="ngForm" (ngSubmit)="addExperienceJob(formDirective1)" fxLayout="column">
      <ng-template matStepLabel>Experiencia</ng-template>
      <mat-form-field ngClass="form-control-container">
        <input matInput type="text" name="experience_job" placeholder="Empresa" required formControlName="experience_job">
        <mat-error *ngIf="secondForm.controls['experience_job'].hasError('required')">- La empresa es un campo obligatorio. </mat-error>
      </mat-form-field>
      <mat-form-field ngClass="form-control-container">
        <input matInput type="text" name="experience_role" placeholder="Puesto" required formControlName="experience_role">
        <mat-error *ngIf="secondForm.controls['experience_role'].hasError('required')">- El puesto es un campo obligatorio. </mat-error>
      </mat-form-field>
      <div fxLayout="row">
        <mat-form-field ngClass="form-control-container">
          <input matInput type="date" name="experience_first_date" placeholder="Fecha de inicio" required formControlName="experience_first_date">
          <mat-error *ngIf="secondForm.controls['experience_first_date'].hasError('required')">- La fecha de inciio es un campo obligatorio. </mat-error>
        </mat-form-field>
        <mat-form-field ngClass="form-control-container">
          <input matInput type="date" name="experience_end_date" placeholder="Fecha de fin" required formControlName="experience_end_date">
          <mat-error *ngIf="secondForm.controls['experience_end_date'].hasError('required')">- La fecha de fin es un campo obligatorio. </mat-error>
        </mat-form-field>
      </div>
      <button type="submit" mat-button [disabled]="!secondForm.valid">Guardar</button>
      <hr>
      <div ngClass="vertical-space" *ngIf="experienceJobs.length > 0">
        <div *ngFor="let job of experienceJobs; let i = index;" fxLayout="column">
          <div fxLayout="row" fxLayout="start center">
            <h4>{{job.experience_job}}</h4>
            <p ngClass="experience-role">({{job.experience_role}})</p>
            <button type="button" name="delete" (click)="deleteExperience(i);">Eliminar</button>
          </div>
          <span ngClass="experience-dates">{{job.experience_first_date}} - {{job.experience_end_date}}</span>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-around center">
        <button mat-stroked-button color="primary" matStepperPrevious>Atrás</button>
        <button type="button" mat-flat-button color="primary" matStepperNext>{{experienceJobs.length == 0 ? 'Saltar' : 'Siguiente'}}</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <form [formGroup]="thirdForm" fxLayout="column" #formDirective2="ngForm" (ngSubmit)="addStudy(formDirective2)">
      <ng-template matStepLabel>Estudios</ng-template>
      <mat-form-field ngClass="form-control-container">
        <input matInput type="text" name="studies_title" placeholder="Título" required formControlName="studies_title">
        <mat-error *ngIf="thirdForm.controls['studies_title'].hasError('required')">- El titulo es un campo obligatorio. </mat-error>
      </mat-form-field>
      <mat-form-field ngClass="form-control-container">
        <input matInput type="text" name="studies_center" placeholder="Centro" formControlName="studies_center">
      </mat-form-field>
      <div fxLayout="row">
        <mat-form-field ngClass="form-control-container">
          <input matInput type="date" name="studies_first_date" placeholder="Fecha de inicio" required formControlName="studies_first_date">
          <mat-error *ngIf="thirdForm.controls['studies_first_date'].hasError('required')">- La fecha de inicio un campo obligatorio. </mat-error>
        </mat-form-field>
        <mat-form-field ngClass="form-control-container">
          <input matInput type="date" name="studies_end_date" placeholder="Fecha de fin" required formControlName="studies_end_date">
          <mat-error *ngIf="thirdForm.controls['studies_end_date'].hasError('required')">- La fecha de final es un campo obligatorio. </mat-error>
        </mat-form-field>
      </div>
      <button type="submit" mat-button [disabled]="!thirdForm.valid">Guardar</button>
      <hr>
      <div ngClass="vertical-space" *ngIf="studies.length > 0">
        <div *ngFor="let study of studies" fxLayout="column">
          <div fxLayout="row" fxLayout="start center">
            <h4>{{study.studies_title}}</h4>
            <p *ngIf="study.studies_center" ngClass="experience-role">({{study.studies_center}})</p>
            <button type="button" name="delete" (click)="deleteStudy(i);">Eliminar</button>
          </div>
          <span ngClass="experience-dates">{{study.studies_first_date}} - {{study.studies_end_date}}</span>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-around center">
        <button mat-stroked-button color="primary" matStepperPrevious>Atrás</button>
        <button type="button" mat-flat-button color="primary" matStepperNext>{{studies.length == 0 ? 'Saltar' : 'Siguiente'}}</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <form [formGroup]="forthForm" fxLayout="column" #formDirective3="ngForm" (ngSubmit)="addLanguage(formDirective3)">
      <ng-template matStepLabel>Idiomas</ng-template>
      <mat-form-field ngClass="form-control-container">
        <input matInput type="text" name="languages_name" placeholder="Lenguaje" required formControlName="languages_name">
        <mat-error *ngIf="forthForm.controls['languages_name'].hasError('required')">- El lenguage es un campo obligatorio. </mat-error>
      </mat-form-field>
      <div fxLayout="row">
        <mat-form-field ngClass="form-control-container">
          <mat-select placeholder="Hablado" formControlName="languages_speaking">
            <mat-option *ngFor="let option of levels" [value]="option">
              {{option}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="forthForm.controls['languages_speaking'].hasError('required')">- El nivel hablado es un campo obligatorio. </mat-error>
        </mat-form-field>
        <mat-form-field ngClass="form-control-container">
          <mat-select placeholder="Leido" formControlName="languages_reading">
            <mat-option *ngFor="let option of levels" [value]="option">
              {{option}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="forthForm.controls['languages_reading'].hasError('required')">- El nivel leido es un campo obligatorio. </mat-error>
        </mat-form-field>
        <mat-form-field ngClass="form-control-container">
          <mat-select placeholder="Escrito" formControlName="languages_writing">
            <mat-option *ngFor="let option of levels" [value]="option">
              {{option}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="forthForm.controls['languages_writing'].hasError('required')">- El nivel escrito es un campo obligatorio. </mat-error>
        </mat-form-field>
      </div>
      <button type="submit" mat-button [disabled]="!forthForm.valid">Guardar</button>
      <hr>
      <div ngClass="vertical-space" *ngIf="languages.length > 0">
        <div *ngFor="let lang of languages" fxLayout="column">
          <div fxLayout="row" fxLayout="start center">
            <h4>{{lang.languages_name}}</h4>
            <button type="button" name="delete" (click)="deleteLanguage(i);">Eliminar</button>
          </div>
          <div fxLayout="row">
            <span>Hablado - {{lang.languages_speaking}}</span>
            <span>Leido - {{lang.languages_reading}}</span>
            <span>Escrito - {{lang.languages_writing}}</span>
          </div>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-around center">
        <button mat-stroked-button color="primary" matStepperPrevious>Atrás</button>
        <button type="button" mat-flat-button color="primary" matStepperNext>{{languages.length == 0 ? 'Saltar' : 'Siguiente'}}</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <form [formGroup]="fifthForm" fxLayout="column" #formDirective4="ngForm" (ngSubmit)="addKnowledge(formDirective4)">
      <ng-template matStepLabel>Conocimientos</ng-template>
      <mat-form-field ngClass="form-control-container">
        <mat-select placeholder="Conocimiento" formControlName="knwoledge_name">
          <mat-option *ngFor="let option of options" [value]="option.name">
            {{option.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="fifthForm.controls['knwoledge_name'].hasError('required')">- El conocimiento es un campo obligatorio. </mat-error>
      </mat-form-field>

      <mat-form-field ngClass="form-control-container">
        <mat-select placeholder="Nivel" formControlName="knowledge_level">
          <mat-option *ngFor="let option of know_level" [value]="option">
            {{option}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="fifthForm.controls['knowledge_level'].hasError('required')">- El nivel de conocimiento es un campo obligatorio. </mat-error>
      </mat-form-field>
      <button type="submit" mat-button [disabled]="!fifthForm.valid">Guardar</button>
      <div *ngIf="knowledges.length > 0">
        <div *ngFor="let know of knowledges" fxLayout="column">
          <div fxLayout="row" fxLayout="space-between center">
            <h4>{{know.knwoledge_name}}</h4>
            <p>{{know.knowledge_level}}</p>
            <button type="button" name="delete" (click)="deleteKnowledge(i);">Eliminar</button>
          </div>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-around center">
        <button type="button" mat-flat-button color="primary" matStepperNext (click)="saveCV()">Finalizar</button>
      </div>
    </form>
  </mat-step>
</mat-horizontal-stepper>
